.App {
  text-align: center;
}

.header {
  font-size: 3rem;
}

.text {
  font-size: 2rem;
}

.pic {
  width: 400px;
  height: 200px;
}

.buttonPlus {
  width: 200px;
  height: 80px;
  background-color: green;
  font-size: larger;
  font-weight: 600;
}

.buttonMinus {
  width: 200px;
  height: 80px;
  background-color: red;
  font-size: larger;
  font-weight: 600;
}

.number {
  font-weight: 700;
  font-size: larger;
  display: block;
}

.statHeader {
  font-size: 2rem;
  font-weight: 700;
}